@charset "UTF-8";
/*css document*/
body, div, p, ul, ol, li, dl, dt, dd, table, tr, td, th, form, h1, h2, h3, h4, h5, h6, input, textarea, fieldset, figure {
  margin: 0;
  padding: 0; }

html {
  font-size: 100px;
  height: 100%; }

body {
  font-family: "微软雅黑",Arial;
  background: url(../img/bg.png) repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .15rem;
  box-sizing: border-box;
  height: 100%; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: 0;
  display: block; }

.left {
  display: flex;
  flex-flow: row wrap;
  width: 6.45rem; }

.main {
  display: flex; }

.user-numer {
  width: 3.45rem;
  height: 3.05rem;
  box-sizing: border-box;
  border: .2rem solid transparent;
  border-image: url(../img/border.png) 20;
  margin-right: .05rem; }

.inter-data {
  width: 2.9rem;
  height: 3.05rem;
  box-sizing: border-box;
  border: .2rem solid transparent;
  border-image: url(../img/border.png) 20;
  margin-right: .05rem; }
  .inter-data h5 {
    font-size: .18rem;
    color: #fff;
    font-weight: 400;
    line-height: .2rem; }
  .inter-data .data {
    margin-top: .2rem;
    display: flex;
    flex-flow: row wrap; }
    .inter-data .data div {
      background: url(../img/border-4.png) no-repeat;
      background-size: 100%;
      width: 1.12rem;
      height: .56rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: .05rem; }
      .inter-data .data div span {
        font-size: .05rem;
        color: #fff; }
      .inter-data .data div i {
        font-style: normal;
        font-size: .16rem;
        color: #049191; }

.histogram {
  display: flex;
  flex-flow: row wrap; }

.pie-box {
  display: flex;
  justify-content: center;
  align-items: center; }

.pie {
  background: url(../img/border-4.png) no-repeat;
  background-size: 100% 100%;
  width: .79rem;
  height: .79rem;
  margin: 0 .05rem; }

.real-time {
  width: 4.52rem;
  height: 5.66rem;
  box-sizing: border-box;
  border: .2rem solid transparent;
  border-image: url(../img/border.png) 20; }

.telephone-traffic {
  width: 3rem;
  height: 2.5rem;
  box-sizing: border-box;
  border: .2rem solid transparent;
  border-image: url(../img/border-2.png) 20;
  margin-right: .05rem;
  margin-top: .1rem; }

.note {
  width: 3.4rem;
  height: 2.5rem;
  box-sizing: border-box;
  border: .2rem solid transparent;
  border-image: url(../img/border-2.png) 20;
  margin-top: .1rem; }
  .note h5 {
    font-size: .16rem;
    color: #fff;
    font-weight: 400;
    text-align: left; }
