@charset "UTF-8";
/*css document*/
body, div, p, ul, ol, li, dl, dt, dd, table, tr, td, th, form, h1, h2, h3, h4, h5, h6, input, textarea, fieldset, figure {
  margin: 0;
  padding: 0; }

html {
  font-size: 100px; }

body {
  font-family: "微软雅黑",Arial;
  background: #f4f3f3;
  display: flex;
  flex-direction: column;
  height: 100%; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: 0;
  display: block; }

header {
  width: 100%;
  box-sizing: border-box;
  height: .51rem;
  background-color: #F8F8F8;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd; }

.logo {
  width: auto;
  height: .5rem;
  background-color: #F8F8F8;
  padding-left: .1rem; }
  .logo a {
    display: block;
    font-size: .14rem;
    font-weight: 600;
    color: #666; }
    .logo a i {
      display: inline-block;
      height: .5rem;
      line-height: .5rem;
      font-style: normal; }
    .logo a span {
      display: inline-block;
      line-height: .5rem;
      height: .5rem;
      font-weight: 400; }

.user-set {
  width: auto;
  height: .5rem;
  font-size: .14rem;
  display: flex;
  justify-content: space-around; }
  .user-set div {
    width: 1.05rem;
    box-sizing: border-box;
    position: relative;
    box-sizing: border-box; }
    .user-set div a {
      text-align: center;
      display: block;
      height: .5rem;
      line-height: .5rem;
      color: #666; }
  .user-set div + div {
    width: 1.05rem;
    color: #666; }
    .user-set div + div p {
      text-align: center;
      line-height: .5rem; }
      .user-set div + div p span {
        position: relative; }
      .user-set div + div p span:after {
        display: block;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -.18rem;
        border: 0 solid #666;
        border-top-width: .05rem;
        border-bottom-width: 0;
        border-left: .05rem solid transparent;
        border-right: .05rem solid transparent;
        margin-top: .08rem; }
    .user-set div + div ul {
      display: none;
      position: relative;
      padding: .05rem 0;
      min-width: 1.6rem;
      background-color: #fff;
      border: 1px solid #ddd;
      margin-top: .09rem;
      z-index: 70; }
      .user-set div + div ul li {
        padding: .06rem .2rem;
        box-sizing: border-box;
        color: #333;
        font-size: .14rem; }
      .user-set div + div ul li:hover {
        background-color: #f5f5f5; }
      .user-set div + div ul::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-bottom: .08rem solid #fff;
        border-right: .08rem solid transparent;
        border-left: .08rem solid transparent;
        border-top-width: 0;
        position: absolute;
        top: -.08rem;
        left: .12rem;
        z-index: 100; }
      .user-set div + div ul::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-bottom: .09rem solid #dedede;
        border-right: .09rem solid transparent;
        border-left: .09rem solid transparent;
        border-top-width: 0;
        position: absolute;
        top: -.1rem;
        left: .11rem;
        z-index: 80; }
  .user-set div + div + div {
    width: 1.05rem;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-set > div:hover {
    background-color: #eee;
    transition: opacity .3s; }
  .user-set > div::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: .05rem solid transparent;
    border-bottom: .05rem solid #666;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 1; }

.main {
  display: flex;
  flex: 1; }
  .main .left-menu {
    width: 2.6rem;
    min-height: 100%;
    border-right: 1px solid #cecece; }
    .main .left-menu ul li {
      font-size: .16rem;
      color: #5c5c5c;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      border-bottom: 1px solid #cecece; }
      .main .left-menu ul li a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: .12rem 0 .12rem .24rem;
        color: #5c5c5c; }
        .main .left-menu ul li a i {
          font-size: .16rem;
          color: #5c5c5c;
          margin-right: .05rem; }
        .main .left-menu ul li a span {
          margin-right: .2rem;
          cursor: pointer; }
        .main .left-menu ul li a span + span {
          float: right; }
      .main .left-menu ul li ul {
        display: none;
        box-sizing: border-box;
        padding-left: .25rem;
        background-color: #ececec;
        border-top: 1px solid #cecece;
        width: 100%; }
        .main .left-menu ul li ul li {
          background-color: #fff;
          border-bottom: 1px solid #cecece; }
    .main .left-menu div {
      margin: .1rem;
      background-color: #ddd; }
      .main .left-menu div dl {
        padding: .15rem;
        background-color: #fff;
        border: 1px solid #ddd; }
        .main .left-menu div dl dt {
          font-size: .16rem;
          margin-bottom: .16rem; }
          .main .left-menu div dl dt i {
            font-size: .2rem; }
        .main .left-menu div dl dd {
          font-size: .16rem;
          margin: .16rem 0; }
  .main .right-table {
    flex: 1;
    padding: .2rem;
    background-color: #fff; }
    .main .right-table h3 {
      font-size: .18rem;
      color: #0e90d2; }

.left-menu ul li > ul > li:last-child {
  border-bottom-width: 0; }

footer p {
  border-top: 1px solid #eee;
  color: #333;
  font-size: .16rem;
  padding: .16rem 0;
  background-color: #fff;
  text-indent: .5rem; }
